@import url(http://fonts.googleapis.com/earlyaccess/droidarabickufi.css);

nav {
  position: fixed;
  top: 0;
  z-index: 200;
}

nav a {
  font-family: 'Droid Arabic Kufi', serif;
  color: #2196f3;
}

nav ul a,
nav .brand-logo {
  color: #444;
}

section {
  padding-top: 50px;
}

p {
  line-height: 2rem;
}

.button-collapse {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
.parallax-container .section {
  width: 100%;
}

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}
@media only screen and (max-width : 747px) {
  .dropdown-button {
    margin-top: 10px;
  }
}
.dropdown-button {
  margin-top: 10px;
}
.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
  color:#2196f3;
}

footer.page-footer {
  margin: 0;
}
.back-to-top {
  background: #2196f3;
  cursor: pointer;
  position: fixed;
  bottom: 20px;
  right: 20px;
  display:none;
  border-style: none;
  z-index: 200;
}

.TextArabic {
  text-align: right;
  font-size: 20px;
  font-family: 'Droid Arabic Kufi', serif;
}

.TextHeadArabic {
  font-family: 'Droid Arabic Kufi', serif;
  color: #2196f3;
}

/*Cards Page3*/
.page2PopOut {
  font-family: 'Droid Arabic Kufi', serif;
  color: #2196f3;
  font-size: 18px;
  float: right;
  margin-top: 10px;
}
.card .card-content .card-title{
  font-family: 'Droid Arabic Kufi', serif;
  color: #2196f3;
  font-size: 20px;
}
.card .card-reveal .card-title {
 color: #2196f3; 
}
.card .card-reveal {
  background-color: rgba(255, 255, 255, 0.9);
  font-size: 13px;
  font-family: 'Droid Arabic Kufi', serif;
}